In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv("./data/movies.csv")
ratings_df = pd.read_csv("./data/ratings.csv")

In [3]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [4]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

# Задание 1

Определите, какому фильму было выставлено больше всего оценок 5.0.

In [5]:
only_5_starts = ratings_df[ ratings_df['rating'] == 5.0 ][['movieId', 'rating']]
best_5_star_movie_id = int(only_5_starts.groupby('movieId').sum().sort_values(by = 'rating', ascending=False).reset_index().iloc[0]['movieId'])
best_movie = movies_df[movies_df['movieId'] == best_5_star_movie_id]
print(best_movie.iloc[0]['title'])

Shawshank Redemption, The (1994)

# Задание 2

По данным файла power.csv (находится в архиве в разделе Материалы к лекции «Библиотека Pandas» - файл “Дополнительные файлы для домашнего задания”) посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [6]:
power_df = pd.read_csv('./data/power.csv')

In [7]:
data = power_df[(  (power_df['country'] == 'Latvia') |   (power_df['country'] == 'Estonia')  |   (power_df['country'] == 'Lithuania'))]
data['country'].value_counts()

Estonia      9689
Lithuania    9313
Latvia       8304
Name: country, dtype: int64

In [8]:
data = data[  data['year'].between(2005, 2010) ]
data['country'].value_counts()

Lithuania    3020
Latvia       2604
Estonia      2579
Name: country, dtype: int64

In [9]:
data = data[   (power_df['category'] == 4) | (power_df['category'] == 12) |  (power_df['category'] == 21) ]
data['country'].value_counts()

C:\Users\User\AppData\Local\Temp\ipykernel_14848\3877694410.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = data[   (power_df['category'] == 4) | (power_df['category'] == 12) |  (power_df['category'] == 21) ]

Lithuania    220
Estonia       99
Latvia        92
Name: country, dtype: int64

In [10]:
data = data[ data['quantity'] >= 0 ]
data['country'].value_counts()

Lithuania    217
Estonia       99
Latvia        92
Name: country, dtype: int64

Расчитаем потребление:

In [11]:
data['quantity'].sum()

240580.0

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [12]:
%pip install lxml bs4

Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Requirement already satisfied: bs4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [17]:
list_of_dfs = pd.read_html('https://www.binance.com/ru/price/bitcoin' )
first_df = list_of_dfs[0]
print('Эх, надо было закупиться ...')
first_df

Эх, надо было закупиться ...

  Сопоставление дат Изменение суммы Изменение, %
0           Сегодня        $ 254.07        +0.6%
1           30 дней        $ 988.11       +2.36%
2           60 дней      $ 6,520.31      +17.93%
3           90 дней     $ 14,523.55      +51.20%